services:
  backend:
    build:
      context: ./backend
      dockerfile: dockerfile.dev
    container_name: api_backend
    ports:
      - "3001:3001"
    volumes:
      - ./backend/src:/app/src
      - ./backend/package.json:/app/package.json
      - ./backend/tsconfig.json:/app/tsconfig.json
      - ./backend/nest-cli.json:/app/nest-cli.json
      - /app/node_modules
    environment:
      NODE_ENV: development
      PORT: 3001
    command: npm run start:dev

