version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: api_backend
    ports:
      - "3001:3001"
    environment:
      NODE_ENV: production

  frontend:
    build:
      context: ./frontend
    container_name: web_frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      NEXT_PUBLIC_API_URL: http://backend:3001